<h1>Nearables</h1>
<div class="white-bg box-shadow pad-25">Seems like Nikhil haven't provided any content yet
  </br>Please add some content.</div>
</br>
<div class="white-bg box-shadow pad-25">some content expected to be same style as above</div>
